<!DOCTYPE html>
<html class="dark-theme" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{-- Primary Meta tags --}}
  <title>Teste local</title>

  @vite(['resources/app.ts', 'resources/js/app.js'])
</head>

<body>
  @inertia({ as: 'main', class: 'h-full' })
</body>

</html>
